body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRda5t2xdReB98S966fPm-_7MlEeSuBX2jnA&s');
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.3s;
}

.clock {
    width: 200px;
    height: 200px;
    border: 4px solid black;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    
}

.numbers {
    position: absolute;
    width: 100%;
    height: 100%;
}

.num {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.num1  { top: 15%; left: 75%; }
.num2  { top: 30%; left: 87%; }
.num3  { top: 50%; left: 95%; }
.num4  { top: 70%; left: 87%; }
.num5  { top: 85%; left: 75%; }
.num6  { top: 92%; left: 50%; }
.num7  { top: 85%; left: 25%; }
.num8  { top: 70%; left: 12%; }
.num9  { top: 50%; left: 5%; }
.num10 { top: 30%; left: 12%; }
.num11 { top: 15%; left: 25%; }
.num12 { top: 8%; left: 50%; }

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    background: black;
    transform: translateX(-50%);
    border-radius: 5px;
}

.hour {
    width: 6px;
    height: 50px;
    background: #333;
}

.minute {
    width: 4px;
    height: 70px;
    background: #666;
}

.second {
    width: 2px;
    height: 70px;
    background: red;
}

